<footer>
    <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between px-4 px-xl-5 mt-auto pt-3 pb-3" style="background-color: rgba(0, 18, 44, 0.82);">
      <!-- Copyright -->
      <div class="text-white footerdiv">
        Copyright © 2023. All rights reserved.
      </div>
  </footer>
<style>
      @media (min-width: 990px) {
  footer{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .footerdiv{
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
</style>
 