<div style="height: 76px; background-color: rgba(0, 18, 44, 0.82);"></div>
<nav class="navbar navbar-expand-md fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/society"><img src="/images/logo.png" alt="society logo" width="50px" height="50px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link" aria-current="page" href="/society">Home</a>
          <a class="nav-link" href="/society/events?type=ongoing">Events</a>
          <a class="nav-link" href="/society/gallery">Gallery</a>
          <a class="nav-link" href="/society/members">Members</a>
          <% if(!currentUser) { %>
            <a class="nav-link" href="/society/login">Login</a>
            <% } else { %>
            <a class="nav-link" href="/society/logout">Logout</a>
              <% if(currentUser.role === "admin") { %>
                <a class="nav-link" href="/register">Register</a>
              <% } %>
          <% } %>
          
        </div>
      </div>
    </div>
  </div>
  </nav>

<style>
    .navbar-brand{
  color:white;
}
.navbar-nav a{
    color: white;
}
.navbar-nav a:hover{
    color: #e2438b;
  }

nav
{
    background-color: rgba(0, 18, 44, 0.82);
}
</style>