.div1,.div3{
    background-color: #679d62;
}
nav
{
    background-color: #faf1e4;
}

.div2,.event
{
    background-color: #cedebd;
}

.carousel-indicators [data-bs-target] {
    margin-bottom: 50px;
}

.div4{
    padding: 15px 0px;
}

.s img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.s{
    padding: 25px 0px;
}

.l img{
    border-radius: 50%;
}

@media (min-width:1400px)
{
.div2{
    border-radius: 50%;
}
.div1{
    padding: 50px 0px;
}
}

