body {
background-color: white;
}
.container{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  }
.pstyle{
	height: 100px;
	/* overflow: scroll; */
	overflow-y: auto;
}

.pstyle::-webkit-scrollbar {
	width: 8px;
  }

  .pstyle::-webkit-scrollbar-thumb {
	background-color: #90A4AE;
	border-radius: 10px;
  }

  .pstyle::-webkit-scrollbar-track {
	background-color: rgba(62, 90, 129, 0);
  }
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #F11A7B; /* Replace with your desired text color */
    text-decoration: none;
    border-radius: 5px;
}
.css_style{
	height: 250px;
	overflow: hidden;
}
.banner {
background-color: rgba(0, 18, 44, 0.82);
background: -webkit-linear-gradient(to right, rgba(0, 18, 44, 0.82), rgba(11, 49, 102, 0.82), rgba(65, 106, 163, 0.82));
background: linear-gradient(to right, rgba(0, 18, 44, 0.82),rgba(11, 49, 102, 0.82), rgba(65, 106, 163, 0.82));
}
.max-img-size{
	overflow: hidden;
}
.max-img-size:hover img {
	transform: scale(1.1);
	transition: transform 1s;
}
